<div class="box box-widget" id="box">
    <div class="box-header with-border kpi-name">
        <h3 class="box-title pull-left">User List </h3> <span class="id" style="display:none"></span> <span class="code" style="display:none"></span><span class="level" style="display:none"></span>
        <div class="input-group pull-right" style="width:50%">
            <input type="text" class="form-control searchUser" placeholder="search here...">
            <span class="input-group-addon clearSearch" style="cursor:pointer"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div class="box-body">

        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Alias</th>
                        <th>Level</th>
                        @*<th>Team</th>*@
                    </tr>
                </thead>
                <tbody class="tbody" id="tbluser">

                </tbody>
            </table>
            <script id='tbluser-template' type="text/template">
                <tr data-id="{{ID}}" {{{Color}}}>
                    <td class="text-center">{{No}}</td>
                    <td>
                        <div class="pretty p-icon p-rotate">
                            <input type="checkbox" class="checkbox" {{Status}} name="name" />
                            @*<span class="level" data-teamid="" data-id="{{ID}}" style="display:none"></span>*@
                            <div class="state p-success">
                                <i class="icon fa fa-check"></i>
                                <label class="black username">{{Username}}</label>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">{{FullName}}</td>
                    <td class="text-center">{{LevelID}}</td>
                    @*<<td class="text-center">{{TeamID}}</td>*@
                </tr>
            </script>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box-footer clearfix" >
        <ul id="paginationKPILevel" class="pagination pagination-sm no-margin pull-right">
          
        </ul>
    </div>
</div>